## Imports

In [20]:
import pandas as pd
import seaborn as sns

from sklearn.decomposition import PCA

# Data

In [35]:
data = pd.read_csv('../processed_data/data_cleaned_Carmen/20231127_char_pred.csv', index_col='Unnamed: 0')

In [36]:
data.head()

,name,male,house,book1,book2,book3,book4,book5,isMarried,isNoble,numDeadRelations,boolDeadRelations,popularity,isAlive
0,Viserys II Targaryen,1,No house,0,0,0,0,0,0,0,11,1,0.605351,0
1,Walder Frey,1,House Frey,1,1,1,1,1,1,1,1,1,0.896321,1
2,Addison Hill,1,House Swyft,0,0,0,1,0,0,1,0,0,0.267559,1
3,Aemma Arryn,0,House Arryn,0,0,0,0,0,1,1,0,0,0.183946,0
4,Sylva Santagar,0,House Santagar,0,0,0,1,0,1,1,0,0,0.043478,1

In [37]:
data.drop(columns=['book1', 'book2', 'book3', 'book4', 'book5', 'name'], inplace=True)

In [38]:
X = data.drop(columns='isAlive')

In [39]:
X.head()

,male,house,isMarried,isNoble,numDeadRelations,boolDeadRelations,popularity
0,1,No house,0,0,11,1,0.605351
1,1,House Frey,1,1,1,1,0.896321
2,1,House Swyft,0,1,0,0,0.267559
3,0,House Arryn,1,1,0,0,0.183946
4,0,House Santagar,1,1,0,0,0.043478

In [48]:
X[X['house'].value_counts() > 1]

/var/folders/b5/td7_9bg17sx39lrc85pmgj540000gn/T/ipykernel_46177/1430985623.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  X[X['house'].value_counts() > 1]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).