In [8]:
import pandas as pd
from sklearn.manifold import TSNE

In [2]:
data = pd.read_csv('../features_for_quiz/houses/classes.csv')

In [3]:
data

,class,outcast,climate,empathy,fighting,honor,connections,unyielding
0,Wildling,1,0,1,5,2,1,4
1,Outlaw,1,1,1,5,1,1,3
2,Dothraki,0,2,1,5,2,1,4
3,Night's Watch,0,0,3,4,5,2,4
4,Soldier,0,1,3,4,4,2,4
5,Foreign Noble,0,2,3,2,2,4,2
6,Foreign Peasant,1,2,3,3,1,1,1
7,Noble,0,1,3,3,3,4,2
8,Peasant,1,1,3,2,1,1,1
9,House Bolton,0,1,1,4,1,3,2
10,House Stark,0,0,5,4,5,3,4
11,House Arryn,0,1,3,3,3,3,4
12,House Greyjoy,0,0,2,3,2,1,5
13,House Frey,0,1,1,1,1,1,1
14,House Tully,0,1,3,3,3,3,3
15,House Lannister,0,2,2,4,3,5,4
16,House Tyrell,0,2,4,3,3,4,3
17,House Martell,0,2,3,4,3,3,4
18,House Baratheon,0,1,3,4,4,3,4
19,House Targaryen,0,2,4,5,4,4,5

In [7]:
X = data.drop(columns='class')
y = data['class']

In [ ]:
tsne = TSNE()
tsne.fit()